<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Update Inventory</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="container">
    <a href="#/count/create/barcodeSubtract/{{ vm.count.itemId }}">Subtract from Inventory with Bar Code Scanning</a>
    |
    <a href="#/count/create/barcodeAdd/{{ vm.count.itemId }}">Add to Inventory with Bar Code Scanning</a>
    <br />
    <div class="form-group">
        <div class="form-horizontal">
            <form name="form1" role="form">
                <div>
                    <input type="hidden" name="id" ng-value="vm.count.countId" />
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="{{ vm.count.itemLabel }}">Item</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" typeahead="item.itemLabel as item.itemLabel for item in vm.items | filter:$viewValue | limitTo:8" data-val="true" data-ng-model="vm.count.itemLabel" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="vm.count.itemLabel" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="{{ vm.count.currentlyOnHand }}">Currently On Hand</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" data-val="true" data-ng-model="vm.count.currentlyOnHand" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="vm.count.currentlyOnHand" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="{{ vm.count.currentlyOnHandDate }}">Currently On Hand Date</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" is-open="vm.currentlyOnHandDateOpened" datepicker-popup="MM/dd/yyyy" data-val="true" data-ng-model="vm.count.currentlyOnHandDate" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.currentlyOnHandDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="{{ vm.count.received }}">Received</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" data-val="true" data-ng-model="vm.count.received" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="vm.count.received" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="{{ vm.count.receivedDate }}">Received Date</label>
                    <div class="col-md-10">
                        <input class="text-box single-line" is-open="vm.receivedDateOpened" datepicker-popup="MM/dd/yyyy" data-val="true" data-ng-model="vm.count.receivedDate" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.receivedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <!--<span class="field-validation-valid" data-valmsg-for="order.date" data-valmsg-replace="true"></span>-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" ng-click="vm.sendCount(count)" />
                        <back-button></back-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>