<div class="form-group">
    <div class="form-horizontal">
        <form name="form1" role="form">
            <div>
                <input type="hidden" name="id" ng-value="vm.itemTemplate.itemTemplateId" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ vm.itemTemplate.itemTemplateName }}">Item Template Name</label>
                <div class="col-md-10">
                    <input class="text-box single-line" data-val="true" data-ng-model="vm.itemTemplate.name" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="vm.itemTemplate.name" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add or Update" class="btn btn-default" ng-click="vm.saveItemTemplate()" />
                    <back-button></back-button>
                </div>
            </div>
        </form>
    </div>
</div>