<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Items</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="container">
    <a href="#/item/add">Create Item</a>
    <table class="table table-striped">
        <tr ng-repeat="item in vm.items | limitTo: 1">
            <th ng-repeat="itemAttribute in item.itemAttributes">
                {{ itemAttribute.templateAttribute.templateAttributeName }}
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="item in vm.items">
            <td ng-repeat="itemAttribute in item.itemAttributes">
                {{ itemAttribute.value }}
            </td>
            <td>
                <a class="btn btn-default" href="#/item/update/{{ item.itemId }}">Edit</a>
            </td>
            <td>
                <a class="btn btn-default" href="#/count/create/{{ item.itemId }}">Update Inventory</a>
            </td>
            <td>
                <a class="btn btn-default" ng-click="vm.deleteItem(item.itemId)">Delete</a>
            </td>
        </tr>
    </table>
</div>
