<div class="container">
    <a href="#/order/add">Create Order</a>
    <table class="table table-striped">
        <tr>
            <th>
                Name
            </th>
            <th>
                Item
            </th>
            <th>
                Date
            </th>
            <th>
                Pending
            </th>
            <th>
                Received
            </th>
            <th>
                Order Sent
            </th>
        </tr>
        <tr ng-repeat="order in vm.orders">
            <td>
                {{ vm.order.orderedForUserFullName }}
            </td>
            <td>
                {{ vm.order.itemLabel }}
            </td>
            <td>
                {{ vm.order.date }}
            </td>
            <td>
                {{ vm.order.pending }}
            </td>
            <td>
                {{ vm.order.received }}
            </td>
            <td>
                {{ vm.order.orderSent }}
            </td>
            <td>
                <a class="btn btn-default" href="#/order/update/{{ vm.order.orderId }}">Edit</a>
            </td>
            <td>
                <a class="btn btn-default" ng-click="vm.deleteOrder(vm.order.orderId)">Delete</a>
            </td>
        </tr>
    </table>
</div>
