@*@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavascriptInHead
{
    <script src="~/Scripts/Item/item-service.js"></script>
    <script src="~/Scripts/Item/item-controller.js"></script>
    <script src="~/Scripts/TemplateAttribute/template-attribute-controller.js"></script>
    <script src="~/Scripts/ItemAttribute/item-attribute-controller.js"></script>
}

<div class="container">
    <div ng-view></div>
</div>*@