<div class="form-group">
    <div class="form-horizontal">
        <form name="form1" role="form">
            <div>
                <input type="hidden" name="id" ng-value="count.countId" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ count.itemLabel }}">Item</label>
                <div class="col-md-10">
                    <input class="text-box single-line" typeahead="item.itemLabel as item.itemLabel for item in items | filter:$viewValue | limitTo:8" data-val="true" data-ng-model="count.itemLabel" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="order.orderedForUserFullName" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ count.currentlyOnHand }}">Currently On Hand</label>
                <div class="col-md-10">
                    <input class="text-box single-line" data-val="true" data-ng-model="count.currentlyOnHand" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="count.currentlyOnHand" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ count.currentlyOnHandDate }}">Currently On Hand Date</label>
                <div class="col-md-10">
                    <input class="text-box single-line" is-open="currentlyOnHandDateOpened" datepicker-popup="MM/dd/yyyy" data-val="true" data-ng-model="count.currentlyOnHandDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="currentlyOnHandDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ count.received }}">Received</label>
                <div class="col-md-10">
                    <input class="text-box single-line" data-val="true" data-ng-model="count.received" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="count.received" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ count.receivedDate }}">Received Date</label>
                <div class="col-md-10">
                    <input class="text-box single-line" is-open="receivedDateOpened" datepicker-popup="MM/dd/yyyy" data-val="true" data-ng-model="count.receivedDate" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="receivedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    <!--<span class="field-validation-valid" data-valmsg-for="order.date" data-valmsg-replace="true"></span>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="sendCount(count)" />
                    <back-button></back-button>
                </div>
            </div>
        </form>
    </div>
</div>