<div class="form-group">
    <div class="form-horizontal">
        <form name="form1" role="form">
            <div>
                <input type="hidden" name="id" ng-value="templateAttribute.templateAttributeId" />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ templateAttribute.templateAttributeName }}">Name</label>
                <div class="col-md-10">
                    <input class="text-box single-line" data-val="true" data-ng-model="templateAttribute.templateAttributeName" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="templateAttribute.templateAttributeName" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="{{ templateAttribute.priority }}">Item</label>
                <div class="col-md-10">
                    <input class="text-box single-line" data-val="true" data-ng-model="templateAttribute.priority" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="templateAttribute.priority" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Required</label>
                <div class="col-md-10">
                    <input type="checkbox" ng-model="templateAttribute.required" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="sendTemplateAttribute(templateAttribute)" />
                    <back-button></back-button>
                </div>
            </div>
        </form>
    </div>
</div>