<div class="container">
    <a href="#/item/create">Create Item</a>
    <table class="table table-striped">
        <tr ng-repeat="item in items | limitTo: 1">
            <th ng-repeat="itemAttribute in item.itemAttributes">
                {{ itemAttribute.templateAttribute.templateAttributeName }}
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="item in items">
            <td ng-repeat="itemAttribute in item.itemAttributes">
                {{ itemAttribute.value }}
            </td>
            <td>
                <a class="btn btn-default" href="#/item/edit/{{ item.itemId }}">Edit</a>
            </td>
            <td>
                <a class="btn btn-default" href="#/count/create/{{ item.itemId }}">Update Inventory</a>
            </td>
            <td>
                <a class="btn btn-default" ng-click="deleteItem(item.itemId)">Delete</a>
            </td>
        </tr>
    </table>
</div>
