<div class="container">
    <table class="table table-striped">
        <tr>
            <th>
                Name
            </th>
            <th>
                Required
            </th>
            <th>
                Priority
            </th>
        </tr>
        <tr ng-repeat="order in orders">
            <td>
                {{ templateAttribute.templateAttributeName }}
            </td>
            <td>
                {{ templateAttribute.required }}
            </td>
            <td>
                {{ templateAttribute.priority }}
            </td>
            <td>
                <a class="btn btn-default" href="#/templateAttribute/edit/{{ templateAttribute.templateAttributeId }}">Edit</a>
            </td>
            <td>
                <a class="btn btn-default" ng-click="deleteTemplateAttribute(templateAttribute.templateAttributeId)">Delete</a>
            </td>
        </tr>
    </table>
</div>
